.movie {
  display: flex;
  padding: 2rem 2rem 2rem 2rem;
  border-bottom: 2px solid #3a1010;
}

.details {
  padding-left: 2em;
  max-width: 800px;
}

.movie img {
  height: 445px;
  width: 300px;
}

@media screen and (max-width: 60em) {
}
