header {
  grid-area: header;
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.logo h1 {
  margin-left: 1.3em;
  margin-right: 0.5em;
}

.logo svg {
  color: #aa0a0a;
}

.navigation {
  font-size: 18px;
}

.navigation a {
  text-decoration: none;
  padding: 1em;
  color: #fff;
}

.navigation a:hover {
  color: #aa0a0a;
}

.search {
  display: inline;
}

.search input {
  font-family: inherit;
  background-color: transparent;
  border: 0 solid transparent;
  border-bottom: 1px solid #fff;
  padding: 8px 10px;
  color: #fff;
}

.search input:focus {
  outline: none;
  border-bottom: 1px solid #aa0a0a;
}

@media screen and (max-width: 60em) {
  header {
    flex-direction: column;
    justify-content: start;
  }
  .navigation {
    margin-left: 1.5em;
  }

  .logo h1 {
    margin-bottom: 0.2em;
  }
}
