/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

body {
  font-family: "Fjalla One", sans-serif;
}

/* Start - Main Grid Layout */
.container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  /* justify-content: center; */
}

.header {
  grid-area: header;
  display: grid;
  grid-template-areas: "logo navigation";
  background-color: #000;
  color: #fff;
}

.logo {
  grid-area: logo;
  align-self: center;
}

/* .logo img {
  width: 50px;
} */

.logo h1 {
  /* display: inline-block; */
  /* float: left; */
  margin-left: 1.3em;
  margin-right: 0.1em;
}

.logo svg {
  color: #aa0a0a;
}

.navigation {
  grid-area: navigation;
  align-self: center;
}

.navigation ul {
  list-style: none;
  display: inline-block;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  text-decoration: none;
  padding: 1em;
  color: #fff;
}

/* .navigation ul li a:active {
  color: #1d0e0e;
} */

.navigation ul li a:hover {
  color: #aa0a0a;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background-color: #101010;
  color: #fff;
}

.main .movie {
  display: flex;
  padding: 2rem 2rem 2rem 2rem;
  border-bottom: 2px solid #3a1010;
}
/* .main .movie .image {
} */

.main .movie .details {
  padding-left: 2em;
  max-width: 800px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-content: center;
  /* grid-template-areas: ". footer-about-us footer-legal footer-social . "; */
  /* justify-self: center; */
  background-color: #000;
  color: #fff;
  min-height: 300px;
  padding-top: 100px;
}

.footer section {
  width: 300px;
  padding: 0 2em 0 2em;
  /*  */
  /* justify-self: center; */
  /* text-align: center; */
}

.footer section ul {
  list-style: none;
  padding: 0em;
}

.footer section ul li svg {
  margin-right: 0.5em;
}
/* 
.footer-about-us {
  grid-area: footer-about-us;
}
.footer-legal {
  grid-area: footer-legal;
}

.footer-social {
  grid-area: footer-social;
} */

.search {
  display: inline;
}

.search input {
  background-color: transparent;
  border: 0 solid transparent;
  border-bottom: 1px solid #fff;
  padding: 8px 10px;
  color: #fff;
}

.search input:focus {
  outline: none;
  border-bottom: 1px solid #aa0a0a;
}

/* .searchIcon svg {
  padding-top: 1em;
} */

/* End - Main Grid Layout */

@media screen and (max-width: 60em) {
  .header {
    grid-template-areas: "logo" "navigation";
    justify-content: center;
  }

  .navigation ul {
    padding: 0em;
  }

  .logo h1 {
    margin-bottom: 0.2em;
  }

  .footer {
    flex-direction: column;
  }

  .footer section {
  }
}
