.container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101010;
  color: #fff;
}
