/* Start - Main Grid Layout */
.container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101010;
  color: #fff;
}

.main .movie {
  display: flex;
  padding: 2rem 2rem 2rem 2rem;
  border-bottom: 2px solid #3a1010;
}

.main .movie .details {
  padding-left: 2em;
  max-width: 800px;
}

.main .movie img {
  height: 445px;
  width: 300px;
}

/* End - Main Grid Layout */

@media screen and (max-width: 60em) {
  .header {
    flex-direction: column;
    justify-content: start;
  }
  .navigation {
    margin-left: 1.5em;
  }

  .logo h1 {
    margin-bottom: 0.2em;
  }

  .footer {
    flex-direction: column;
  }
}
