/* Start - Main Grid Layout */
.container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.logo h1 {
  margin-left: 1.3em;
  margin-right: 0.5em;
}

.logo svg {
  color: #aa0a0a;
}

.navigation {
  font-size: 18px;
}

.navigation a {
  text-decoration: none;
  padding: 1em;
  color: #fff;
}

.navigation a:hover {
  color: #aa0a0a;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101010;
  color: #fff;
}

.main .movie {
  display: flex;
  padding: 2rem 2rem 2rem 2rem;
  border-bottom: 2px solid #3a1010;
}

.main .movie .details {
  padding-left: 2em;
  max-width: 800px;
}

.main .movie img {
  height: 445px;
  width: 300px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #000;
  color: #fff;
  min-height: 300px;
  padding-top: 100px;
}

.footer section {
  width: 300px;
  padding: 0 2em 0 2em;
}

.footer section ul {
  list-style: none;
  padding: 0em;
}

.footer section ul li svg {
  margin-right: 0.5em;
}

.search {
  display: inline;
}

.search input {
  background-color: transparent;
  border: 0 solid transparent;
  border-bottom: 1px solid #fff;
  padding: 8px 10px;
  color: #fff;
}

.search input:focus {
  outline: none;
  border-bottom: 1px solid #aa0a0a;
}
/* End - Main Grid Layout */

@media screen and (max-width: 60em) {
  .header {
    flex-direction: column;
    justify-content: start;
  }
  .navigation {
    margin-left: 1.5em;
  }

  .logo h1 {
    margin-bottom: 0.2em;
  }

  .footer {
    flex-direction: column;
  }
}
